@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@property --num-day {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-month {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-year {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num-day: 0;
    --num-month: 0;
    --num-year: 0;
  }
  to {
    --num-day: 50;
    --num-month: 1000;
    --num-year: 10000;
  }
}


